---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "AI Consulting",
    description:
      "Expert guidance and solutions for your machine learning projects, from concept to deployment. Trust our experienced team to elevate your ML initiatives.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Engineering Consulting",
    description:
      "Tailored consulting services for engineering projects, ensuring optimal performance and innovative solutions. Our expertise drives your success.",
    icon: "bx:bxs-cog",
  },
  {
    title: "Custom AI Solutions",
    description:
      "Developing custom AI solutions to meet the unique needs of your business and drive growth. Leverage our capabilities to transform your operations.",
    icon: "bx:bxs-brain",
  },
  {
    title: "Offline Workshops",
    description:
      "Engage in hands-on learning with our offline workshops designed to provide practical skills and knowledge. Benefit from direct interaction with experts.",
    icon: "bx:bxs-chalkboard",
  },
  {
    title: "Professional Development Plans",
    description:
      "Advance your career from anywhere with our comprehensive professional development plans on machine learning and engineering topics.",
    icon: "bx:bxs-graduation",
  },
  {
    title: "Community Support",
    description:
      "Join our community of learners and professionals to get support, share knowledge, and grow together. Be part of a vibrant network of innovators.",
    icon: "bx:bxs-group",
  },
];
---

<div class="mt-16 md:mt-0" id="features">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Empowering Your Success
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    NuNmi.ai provides a comprehensive suite of services and educational opportunities to help you thrive in the fields of machine learning and engineering. Our commitment to quality and innovation drives us to deliver exceptional outcomes for our clients and learners.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
